<div id="container">
  <div class="card text-center">
    <div class="card-header">
      Music
    </div>
    <div class="card-body">
      <p class="card-text">Here is all the recent music I have been listening to for a whiile.</p>
      <div id="demo" class="carousel slide" data-ride="carousel">

        <ul class="carousel-indicators">
          <li data-target="#'Awaken, My Love'" data-slide-to="0"></li>
          <li data-target="#4 Your Eyes Only" data-slide-to="1"></li>
          <li data-target="#808s and HeartBreak" data-slide-to="2"></li>
          <li data-target="#2014 Forest Hill Drive" data-slide-to="3"></li>
          <li data-target="#A$AP Mob Cozy Tapes Vol 1" data-slide-to="4"></li>
          <li data-target="#ALL AMERICAN BADASS" data-slide-to="5"></li>
          <li data-target="#At Long Last A$AP" data-slide-to="6"></li>
          <li data-target="#B4DA$$" data-slide-to="7"></li>
          <li data-target="#Blank Face" data-slide-to="8"></li>
          <li data-target="#Bobby Tarantino" data-slide-to="9"></li>
          <li data-target="#Culture" data-slide-to="10"></li>
          <li data-target="#Bobby Tarantino" data-slide-to="11"></li>
          <li data-target="#Culture" data-slide-to="12"></li>
          <li data-target="#Damn." data-slide-to="13"></li>
          <li data-target="#everybody" data-slide-to="14"></li>
          <li data-target="#damn" data-slide-to="15"></li>
          <li data-target="#everybody" data-slide-to="16"></li>
          <li data-target="#damn" data-slide-to="17"></li>
          <li data-target="#everybody" data-slide-to="18"></li>
          <li data-target="#damn" data-slide-to="19"></li>
          <li data-target="#everybody" data-slide-to="20"></li>
        </ul>

        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/img/albumcovers/'Awaken, My Love'.jpg" id="'Awaken, My Love'" alt="'Awaken, My Love'">
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/albumcovers/4 Your Eyes Only.jpg" id="4 Your Eyes Only" alt="4 Your Eyes Only">
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/albumcovers/808s and HeartBreak.jpg" id="808s and HeartBreak" alt="808s and HeartBreak">
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/albumcovers/2014 Forest Hill Drive.jpg" id="2014 Forest Hill Drive" alt="2014 Forest Hill Drive">
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/albumcovers/A$AP Mob Cozy Tapes Vol 1.jpeg" id="A$AP Mob Cozy Tapes Vol 1" alt="A$AP Mob Cozy Tapes Vol 1">
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/albumcovers/ALL AMERICAN BADASS.jpg" id="ALL AMERICAN BADASS" alt="ALL AMERICAN BADASS">
          </div>
          <div class="carousel-item active">
            <img src="../../assets/img/albumcovers/At Long Last A$AP.jpg" id="At Long Last A$AP" alt="At Long Last A$AP">
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/albumcovers/B4DA$$.jpg" id="B4DA$$" alt="B4DA$$">
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/albumcovers/Blank Face.jpg" id="Blank Face" alt="Blank Face">
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/albumcovers/Bobby Tarantino.jpg" id="Bobby Tarantino" alt="Bobby Tarantino">
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/albumcovers/Culture.jpeg" id="Culture" alt="Culture">
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/albumcovers/Damn..jpg" id="Damn." alt="Damn.">
          </div>
        </div>

        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
    <div class="card-footer text-muted">
      Slides automatically
    </div>
  </div>
</div>