<div id="container">
  <div class="card text-center">
    <div class="card-header">
      Music
    </div>
    <div class="card-body">
      <p class="card-text">Here is all the recent music I have been listening to for a whiile.</p>
      <div id="demo" class="carousel slide" data-ride="carousel">

        <ul class="carousel-indicators">
          <li data-target="#'Awaken, My Love'" data-slide-to="0"></li>
          <li data-target="#4 Your Eyes Only" data-slide-to="1"></li>
          <li data-target="#808s and HeartBreak" data-slide-to="2"></li>
          <li data-target="#2014 Forest Hill Drive" data-slide-to="3"></li>
        </ul>

        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/img/albumcovers/'Awaken, My Love'.jpg" id="'Awaken, My Love'" alt="'Awaken, My Love'">
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/albumcovers/4 Your Eyes Only.jpg" id="4 Your Eyes Only" alt="4 Your Eyes Only">
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/albumcovers/808s and HeartBreak.jpg" id="808s and HeartBreak" alt="808s and HeartBreak">
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/albumcovers/2014 Forest Hill Drive.jpg" id="2014 Forest Hill Drive" alt="2014 Forest Hill Drive">
          </div>
        </div>

        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
    <div class="card-footer text-muted">
      Slides automatically
    </div>
  </div>
</div>