<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Contact Me!</h1>
    <p class="lead">Hello, if you feel the need to contact me then fill in this form and I will respond to you in less than 24 hours. Thank
      you for your time and please continue looking through this portfolio.</p>
  </div>
  <div class="container">
    <form #contactForm="ngForm" ngNativeValidate (ngSubmit)="onSubmit()">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Full Name</span>
        </div>
        <input class="form-control align-middle" type="text" placeholder="Enter Full Name" [(ngModel)]="contact.userName" [ngModelOptions]="{standalone: true}"
          required>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
        </div>
        <input class="form-control align-middle" type="text" placeholder="Enter Email" [(ngModel)]="contact.userEmail" [ngModelOptions]="{standalone: true}"
          required>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Phone Number</span>
        </div>
        <input class="form-control align-middle" type="tel" placeholder="Enter Phone Number (Optional)" [(ngModel)]="contact.userPhoneNumber"
          [ngModelOptions]="{standalone: true}">
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Comments/Messages</span>
        </div>
        <textarea class="form-control" placeholder="Enter Messages/Comments" [(ngModel)]="contact.userComments" [ngModelOptions]="{standalone: true}"
          required></textarea>
      </div>
      <br>
      <div>
        <input [disabled]="!contactForm.valid" id="submit" type="submit" class="btn" data-toggle="modal" data-target="#contactModal">
      </div>
    </form>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Contact Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Thank you {{ contact.userName }}! I will return the response in 24 hours or less.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>